/**
 * File paypal button manager button design css
 */
body{
    font-size: 12px !important;
}
.form-text {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}




input.form-text:focus, input.form-file:focus, textarea.form-textarea:focus, select.form-select:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
input.form-autocomplete, select.form-select {
    background: url(../images/select-arrow.svg) right 50% no-repeat #fff !important;
    -webkit-appearance: none;
    -webkit-padding-start: 8px;
    -webkit-padding-end: 16px;
    -webkit-padding-before: 5px;
    -webkit-padding-after: 5px;
    border-radius: 0;
    min-height: 16px;
    box-shadow: none;
    border-color: #d2d6de !important;
    height: 34px;
    padding: 6px 12px !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555 !important;
    border: 1px solid #ccc !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 10%;
}

.ui-accordion h3.ui-accordion-header, #block-system-main h3.ui-accordion-header
{
    background: #337ab7;
    color: #fff;
    border-color:  #337ab7;
}
.ui-accordion-icons .ui-accordion-header a{
    color: #fff;
}
.ui-accordion .ui-accordion-content-active
{
    border: 1px solid #337ab7;
    border-top: 0;
}
.ui-accordion .ui-accordion-header .ui-icon {
    display: none;
}
.ui-accordion-icons .ui-accordion-header a:hover{
    text-decoration: unset;
}
.group_customize_donation_button{

    margin-bottom: 10px;

    display: inline-block !important;
    width: 100% !important;
    border: 1px solid #337ab7 !important;
}
.collapsible.group_customize_donation_button
{
    height: auto;
    background: none repeat scroll 0% 0% #fff ;
}
.collapsible.collapsed.group_customize_donation_button
{
    height: 34px !important;
    background: none repeat scroll 0% 0% #337ab7 !important;
}

.group_customize_donation_button legend{
    border-top: 1px solid #337ab7;
}
.group_customize_donation_button .fieldset-legend
{
    background: none !important;
    padding-left: 0px !important;
    margin:0 !important;
}
.group_customize_donation_button .fieldset-legend a,.group_customize_donation_button .fieldset-legend a:hover,.group_customize_donation_button .fieldset-legend a:focus {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding-left: 5px;

}
.collapsible.collapsed.group_customize_donation_button .fieldset-legend a
{
    color: #fff;
}
.collapsible.group_customize_donation_button .fieldset-legend a
{
    color: #23527c;
}

.form-item.form-type-radio input, .form-item.form-type-checkbox input {
    margin-top: 0px;
    top: 0px;
}
input[type=radio] {
    border-radius: 50%;
}
input[type=checkbox], input[type=checkbox]#edit-delete, input[type=radio] {
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: .25em;
    padding: 0;
    background: #fff;
    border: 1px solid #B5B5B5;
    width: 16px!important;
    height: 16px!important;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: background .5s ease;
    outline: 0;
}
input[type=checkbox]:checked, input[type=checkbox]:disabled:checked, input[type=radio]:checked, input[type=radio]:disabled:checked {
    background: #337ab7;
    box-shadow: inset 0 0 0 4px #fff;
}
.group-main.field-group-accordion .field-group-format-toggler.accordion-item a{
    color: #fff;

}
.field-name-paypal-donation-id.form-wrapper,.field-name-organization-name-service.form-wrapper {
    display: inline-block;
    margin-right: 20px;
}
.hide-element
{
    display: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
select{
    display: block;
}
